Employee_Onboarding_GPT_Agent_Sync/Part 1 (Form to Meeting Setup)
{
    "name": "Employee Onboarding GPT & Agent Sync - Part 1 (Form to Meeting Setup)",
    "flow": [
        {
            "id": 11,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 980590,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -339,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "label": "My Airtable WebHook 2",
                            "data": {
                                "editable": "true"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "typeform:WatchEventsWithResponses",
            "version": 2,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 11,
                    "y": 1,
                    "name": "New Hire Form Submitted",
                    "messages": [
                        {
                            "category": "link",
                            "severity": "error",
                            "message": "A trigger must be the first module in a scenario."
                        },
                        {
                            "category": "setup",
                            "severity": "error",
                            "message": "Value must not be empty."
                        }
                    ]
                }
            }
        },
        {
            "id": 3,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 1792711
            },
            "mapper": {
                "base": "appYxp059Lcn77aG6",
                "typecast": false,
                "useColumnId": true,
                "table": "tbltzfNWuRoJCuFQj",
                "record": {}
            },
            "metadata": {
                "designer": {
                    "x": 389,
                    "y": -1,
                    "name": "Store New Hire Data in Airtable"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Vito AI (User ID: usr0s6xenHzpKqErc)",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            }
                        }
                    },
                    "expect": {
                        "base": {
                            "label": "AI-SDR"
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        },
                        "table": {
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fld3b57hJytpmp9w8",
                                            "label": "Link to Users",
                                            "type": "array",
                                            "spec": {
                                                "label": "Record ID"
                                            }
                                        },
                                        {
                                            "name": "fldFKilYDxoJCHNd1",
                                            "label": "Email",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldyD9tM72oL6FqHG",
                                            "label": "Link to Campaigns",
                                            "type": "array",
                                            "spec": {
                                                "label": "Record ID"
                                            }
                                        },
                                        {
                                            "name": "fldpUcvbUj6TjxecQ",
                                            "label": "Link to Personas",
                                            "type": "array",
                                            "spec": {
                                                "label": "Record ID"
                                            }
                                        },
                                        {
                                            "name": "fldrFtIbr82UuiSY1",
                                            "label": "First Name",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldanaPNFV80G0abK",
                                            "label": "Last Name",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldpzRSafQNJdmPco",
                                            "label": "LinkedIn Profile URL",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldskqsvRksSO5uaz",
                                            "label": "Company",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldbB5QqU0gNExQ2P",
                                            "label": "Title",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldIzFQTYURccDEfB",
                                            "label": "Company Website URL",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldlO1bQYm1GJKAWG",
                                            "label": "Status",
                                            "type": "select",
                                            "mode": "edit",
                                            "dynamic": true,
                                            "validate": false,
                                            "options": [
                                                {
                                                    "label": "New",
                                                    "value": "New"
                                                },
                                                {
                                                    "label": "Enriched",
                                                    "value": "Enriched"
                                                },
                                                {
                                                    "label": "Engagement 1 Sent",
                                                    "value": "Engagement 1 Sent"
                                                },
                                                {
                                                    "label": "Engagement 2 Sent",
                                                    "value": "Engagement 2 Sent"
                                                },
                                                {
                                                    "label": "LinkedIn Connect Sent",
                                                    "value": "LinkedIn Connect Sent"
                                                },
                                                {
                                                    "label": "LinkedIn DM Sent",
                                                    "value": "LinkedIn DM Sent"
                                                },
                                                {
                                                    "label": "Engagement 3 Sent",
                                                    "value": "Engagement 3 Sent"
                                                },
                                                {
                                                    "label": "Replied",
                                                    "value": "Replied"
                                                },
                                                {
                                                    "label": "Interested",
                                                    "value": "Interested"
                                                },
                                                {
                                                    "label": "Do Not Contact",
                                                    "value": "Do Not Contact"
                                                }
                                            ]
                                        },
                                        {
                                            "name": "fldh78mY1F3AkmW7t",
                                            "label": "Prospect Website Summary & Buyer Signals",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldvHXPSRy49dddFN",
                                            "label": "Prospect Positioning Statement",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldCac957AEB6xwmG",
                                            "label": "Prospect External Signals & Intel",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fld0DhwsGxxMnFyrm",
                                            "label": "Stage",
                                            "type": "select",
                                            "mode": "edit",
                                            "dynamic": true,
                                            "validate": false,
                                            "options": [
                                                {
                                                    "label": "Prospect",
                                                    "value": "Prospect"
                                                },
                                                {
                                                    "label": "Lead",
                                                    "value": "Lead"
                                                },
                                                {
                                                    "label": "Opportunity",
                                                    "value": "Opportunity"
                                                }
                                            ]
                                        },
                                        {
                                            "name": "fldzmJeJfTe3r3286",
                                            "label": "Unsubscribed",
                                            "type": "boolean"
                                        },
                                        {
                                            "name": "fldtI1PWaf6vXn9dG",
                                            "label": "Phone 1",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldrJcV74pgXDCSMo",
                                            "label": "Phone 2",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldZxRr6d37rMpwxZ",
                                            "label": "Email 1 Subject",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldr79o5XY71mQ2nZ",
                                            "label": "Email 1 Body",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldnzrf9FbGwDK5oD",
                                            "label": "Email 2 Subject",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldVdtQTxfXY7o2iJ",
                                            "label": "Email 2 Body",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fld1FX3DLexE2rEXf",
                                            "label": "Email 3 Subject",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldo1BBSur3Qdez4M",
                                            "label": "Email 3 Body",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldBa05lrdeQgSjoR",
                                            "label": "LinkedIn DM Content",
                                            "type": "text",
                                            "multiline": true
                                        },
                                        {
                                            "name": "fldtVTTnoXi2YCKee",
                                            "label": "Apollo Contact ID",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldrN1QnZsKprDseD",
                                            "label": "Apollo Account ID",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldndfasVwi99xdzr",
                                            "label": "Headline",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldpwo7pgXH8havki",
                                            "label": "Professional Summary",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fld6kfEBbkUO4vv5v",
                                            "label": "Key Skills",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldL3acjKVDYua4tM",
                                            "label": "Role Focus",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fld6gd32xCjDtT2ky",
                                            "label": "Link to Engagement Logs",
                                            "type": "array",
                                            "spec": {
                                                "label": "Record ID"
                                            }
                                        },
                                        {
                                            "name": "fldRmEKxCwkmqb4Rv",
                                            "label": "Link to Research Logs",
                                            "type": "array",
                                            "spec": {
                                                "label": "Record ID"
                                            }
                                        },
                                        {
                                            "name": "fldbFSKZtzIPuHsfe",
                                            "label": "Link to Signals",
                                            "type": "array",
                                            "spec": {
                                                "label": "Record ID"
                                            }
                                        },
                                        {
                                            "name": "fldpMeN46BGjyr1ZA",
                                            "label": "Email 1 Sent At",
                                            "type": "date",
                                            "time": true
                                        },
                                        {
                                            "name": "fldGbnUi4jvuO4SxJ",
                                            "label": "Email 1 Opened At",
                                            "type": "date",
                                            "time": true
                                        },
                                        {
                                            "name": "fldCbbQ95y57V8Kql",
                                            "label": "Email 1 Open Count",
                                            "type": "number"
                                        },
                                        {
                                            "name": "fldD8mplzL7zviDW1",
                                            "label": "Email 2 Sent At",
                                            "type": "date",
                                            "time": true
                                        },
                                        {
                                            "name": "fldLSeSCLrkG9t8TR",
                                            "label": "Email 2 Opened At",
                                            "type": "date",
                                            "time": true
                                        },
                                        {
                                            "name": "fldRPDapwY08fmpXg",
                                            "label": "Email 2 Open Count",
                                            "type": "number"
                                        },
                                        {
                                            "name": "fldJOvngDLBTgczdy",
                                            "label": "LinkedIn Connect",
                                            "type": "select",
                                            "mode": "edit",
                                            "dynamic": true,
                                            "validate": false,
                                            "options": [
                                                {
                                                    "label": "Sent",
                                                    "value": "Sent"
                                                },
                                                {
                                                    "label": "Connected",
                                                    "value": "Connected"
                                                }
                                            ]
                                        },
                                        {
                                            "name": "fldiMx9IPhTwJf8Ng",
                                            "label": "LinkedIn Connect Sent At",
                                            "type": "date",
                                            "time": true
                                        },
                                        {
                                            "name": "fldEJjc90halj4iFB",
                                            "label": "Email 3 Sent At",
                                            "type": "date",
                                            "time": true
                                        },
                                        {
                                            "name": "flddNV9ObWOYkHYpx",
                                            "label": "Email 3 Opened At",
                                            "type": "date",
                                            "time": true
                                        },
                                        {
                                            "name": "fldk5feuJ9whP2opT",
                                            "label": "Email 3 Open Count",
                                            "type": "number"
                                        },
                                        {
                                            "name": "fldi0EYCin5ws00kB",
                                            "label": "Reply Logged",
                                            "type": "date",
                                            "time": true
                                        },
                                        {
                                            "name": "fldTyerD8rUkIYBda",
                                            "label": "Meeting Booked",
                                            "type": "date",
                                            "time": true
                                        },
                                        {
                                            "name": "fldRksyo2ZmvVyuaL",
                                            "label": "Outbound Voice Sent",
                                            "type": "date",
                                            "time": true
                                        },
                                        {
                                            "name": "fldREatYuZoZJYT5t",
                                            "label": "Transcript",
                                            "type": "text"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ],
                            "label": "Prospects"
                        },
                        "record": {
                            "nested": {
                                "fld3b57hJytpmp9w8": {
                                    "mode": "edit"
                                },
                                "fldyD9tM72oL6FqHG": {
                                    "mode": "edit"
                                },
                                "fldpUcvbUj6TjxecQ": {
                                    "mode": "edit"
                                },
                                "fldlO1bQYm1GJKAWG": {
                                    "mode": "edit"
                                },
                                "fld0DhwsGxxMnFyrm": {
                                    "mode": "edit"
                                },
                                "fldzmJeJfTe3r3286": {
                                    "mode": "chose"
                                },
                                "fld6gd32xCjDtT2ky": {
                                    "mode": "edit"
                                },
                                "fldRmEKxCwkmqb4Rv": {
                                    "mode": "edit"
                                },
                                "fldbFSKZtzIPuHsfe": {
                                    "mode": "edit"
                                },
                                "fldJOvngDLBTgczdy": {
                                    "mode": "edit"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "type": "collection",
                        "label": "Record",
                        "spec": [
                            {
                                "name": "fld3b57hJytpmp9w8",
                                "type": "array",
                                "label": "Link to Users",
                                "spec": {
                                    "label": "Record ID",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "fldFKilYDxoJCHNd1",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "fldyD9tM72oL6FqHG",
                                "type": "array",
                                "label": "Link to Campaigns",
                                "spec": {
                                    "label": "Record ID",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "fldpUcvbUj6TjxecQ",
                                "type": "array",
                                "label": "Link to Personas",
                                "spec": {
                                    "label": "Record ID",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "fldrFtIbr82UuiSY1",
                                "type": "text",
                                "label": "First Name"
                            },
                            {
                                "name": "fldanaPNFV80G0abK",
                                "type": "text",
                                "label": "Last Name"
                            },
                            {
                                "name": "fldpzRSafQNJdmPco",
                                "type": "text",
                                "label": "LinkedIn Profile URL"
                            },
                            {
                                "name": "fldskqsvRksSO5uaz",
                                "type": "text",
                                "label": "Company"
                            },
                            {
                                "name": "fldbB5QqU0gNExQ2P",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "fldIzFQTYURccDEfB",
                                "type": "text",
                                "label": "Company Website URL"
                            },
                            {
                                "name": "fldlO1bQYm1GJKAWG",
                                "type": "select",
                                "label": "Status",
                                "mode": "edit"
                            },
                            {
                                "name": "fldh78mY1F3AkmW7t",
                                "type": "text",
                                "label": "Prospect Website Summary & Buyer Signals"
                            },
                            {
                                "name": "fldvHXPSRy49dddFN",
                                "type": "text",
                                "label": "Prospect Positioning Statement"
                            },
                            {
                                "name": "fldCac957AEB6xwmG",
                                "type": "text",
                                "label": "Prospect External Signals & Intel"
                            },
                            {
                                "name": "fld0DhwsGxxMnFyrm",
                                "type": "select",
                                "label": "Stage",
                                "mode": "edit"
                            },
                            {
                                "name": "fldzmJeJfTe3r3286",
                                "type": "boolean",
                                "label": "Unsubscribed"
                            },
                            {
                                "name": "fldtI1PWaf6vXn9dG",
                                "type": "text",
                                "label": "Phone 1"
                            },
                            {
                                "name": "fldrJcV74pgXDCSMo",
                                "type": "text",
                                "label": "Phone 2"
                            },
                            {
                                "name": "fldZxRr6d37rMpwxZ",
                                "type": "text",
                                "label": "Email 1 Subject"
                            },
                            {
                                "name": "fldr79o5XY71mQ2nZ",
                                "type": "text",
                                "label": "Email 1 Body"
                            },
                            {
                                "name": "fldnzrf9FbGwDK5oD",
                                "type": "text",
                                "label": "Email 2 Subject"
                            },
                            {
                                "name": "fldVdtQTxfXY7o2iJ",
                                "type": "text",
                                "label": "Email 2 Body"
                            },
                            {
                                "name": "fld1FX3DLexE2rEXf",
                                "type": "text",
                                "label": "Email 3 Subject"
                            },
                            {
                                "name": "fldo1BBSur3Qdez4M",
                                "type": "text",
                                "label": "Email 3 Body"
                            },
                            {
                                "name": "fldBa05lrdeQgSjoR",
                                "type": "text",
                                "label": "LinkedIn DM Content"
                            },
                            {
                                "name": "fldtVTTnoXi2YCKee",
                                "type": "text",
                                "label": "Apollo Contact ID"
                            },
                            {
                                "name": "fldrN1QnZsKprDseD",
                                "type": "text",
                                "label": "Apollo Account ID"
                            },
                            {
                                "name": "fldndfasVwi99xdzr",
                                "type": "text",
                                "label": "Headline"
                            },
                            {
                                "name": "fldpwo7pgXH8havki",
                                "type": "text",
                                "label": "Professional Summary"
                            },
                            {
                                "name": "fld6kfEBbkUO4vv5v",
                                "type": "text",
                                "label": "Key Skills"
                            },
                            {
                                "name": "fldL3acjKVDYua4tM",
                                "type": "text",
                                "label": "Role Focus"
                            },
                            {
                                "name": "fld6gd32xCjDtT2ky",
                                "type": "array",
                                "label": "Link to Engagement Logs",
                                "spec": {
                                    "label": "Record ID",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "fldRmEKxCwkmqb4Rv",
                                "type": "array",
                                "label": "Link to Research Logs",
                                "spec": {
                                    "label": "Record ID",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "fldbFSKZtzIPuHsfe",
                                "type": "array",
                                "label": "Link to Signals",
                                "spec": {
                                    "label": "Record ID",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "fldpMeN46BGjyr1ZA",
                                "type": "date",
                                "label": "Email 1 Sent At",
                                "time": true
                            },
                            {
                                "name": "fldGbnUi4jvuO4SxJ",
                                "type": "date",
                                "label": "Email 1 Opened At",
                                "time": true
                            },
                            {
                                "name": "fldCbbQ95y57V8Kql",
                                "type": "number",
                                "label": "Email 1 Open Count"
                            },
                            {
                                "name": "fldD8mplzL7zviDW1",
                                "type": "date",
                                "label": "Email 2 Sent At",
                                "time": true
                            },
                            {
                                "name": "fldLSeSCLrkG9t8TR",
                                "type": "date",
                                "label": "Email 2 Opened At",
                                "time": true
                            },
                            {
                                "name": "fldRPDapwY08fmpXg",
                                "type": "number",
                                "label": "Email 2 Open Count"
                            },
                            {
                                "name": "fldJOvngDLBTgczdy",
                                "type": "select",
                                "label": "LinkedIn Connect",
                                "mode": "edit"
                            },
                            {
                                "name": "fldiMx9IPhTwJf8Ng",
                                "type": "date",
                                "label": "LinkedIn Connect Sent At",
                                "time": true
                            },
                            {
                                "name": "fldEJjc90halj4iFB",
                                "type": "date",
                                "label": "Email 3 Sent At",
                                "time": true
                            },
                            {
                                "name": "flddNV9ObWOYkHYpx",
                                "type": "date",
                                "label": "Email 3 Opened At",
                                "time": true
                            },
                            {
                                "name": "fldk5feuJ9whP2opT",
                                "type": "number",
                                "label": "Email 3 Open Count"
                            },
                            {
                                "name": "fldi0EYCin5ws00kB",
                                "type": "date",
                                "label": "Reply Logged",
                                "time": true
                            },
                            {
                                "name": "fldTyerD8rUkIYBda",
                                "type": "date",
                                "label": "Meeting Booked",
                                "time": true
                            },
                            {
                                "name": "fldRksyo2ZmvVyuaL",
                                "type": "date",
                                "label": "Outbound Voice Sent",
                                "time": true
                            },
                            {
                                "name": "fldREatYuZoZJYT5t",
                                "type": "text",
                                "label": "Transcript"
                            }
                        ]
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "fldX5lLwJWW3HPeD4",
                        "label": "Prospect ID",
                        "type": "text"
                    },
                    {
                        "name": "fld3b57hJytpmp9w8",
                        "label": "Link to Users",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fldFKilYDxoJCHNd1",
                        "label": "Email",
                        "type": "text"
                    },
                    {
                        "name": "fldyD9tM72oL6FqHG",
                        "label": "Link to Campaigns",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fld9ITxdYz33assLT",
                        "label": "Campaign Name (from Campaigns)",
                        "type": "array"
                    },
                    {
                        "name": "fld77JylveUxCZIgE",
                        "label": "Email (from Users)",
                        "type": "array"
                    },
                    {
                        "name": "fldpUcvbUj6TjxecQ",
                        "label": "Link to Personas",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fldiDsYfNHOz4w9Cp",
                        "label": "Role (from Personas)",
                        "type": "array"
                    },
                    {
                        "name": "fldtfr5dHomhKmXpc",
                        "label": "Company (from Personas)",
                        "type": "array"
                    },
                    {
                        "name": "fldvatYcfke1Rpn18",
                        "label": "Persona Name (from Personas)",
                        "type": "array"
                    },
                    {
                        "name": "fldrFtIbr82UuiSY1",
                        "label": "First Name",
                        "type": "text"
                    },
                    {
                        "name": "fldanaPNFV80G0abK",
                        "label": "Last Name",
                        "type": "text"
                    },
                    {
                        "name": "fldpzRSafQNJdmPco",
                        "label": "LinkedIn Profile URL",
                        "type": "text"
                    },
                    {
                        "name": "fldskqsvRksSO5uaz",
                        "label": "Company",
                        "type": "text"
                    },
                    {
                        "name": "fldbB5QqU0gNExQ2P",
                        "label": "Title",
                        "type": "text"
                    },
                    {
                        "name": "fldIzFQTYURccDEfB",
                        "label": "Company Website URL",
                        "type": "text"
                    },
                    {
                        "name": "fldlO1bQYm1GJKAWG",
                        "label": "Status",
                        "type": "text"
                    },
                    {
                        "name": "fldh78mY1F3AkmW7t",
                        "label": "Prospect Website Summary & Buyer Signals",
                        "type": "text"
                    },
                    {
                        "name": "fldvHXPSRy49dddFN",
                        "label": "Prospect Positioning Statement",
                        "type": "text"
                    },
                    {
                        "name": "fldCac957AEB6xwmG",
                        "label": "Prospect External Signals & Intel",
                        "type": "text"
                    },
                    {
                        "name": "fld0DhwsGxxMnFyrm",
                        "label": "Stage",
                        "type": "text"
                    },
                    {
                        "name": "fldzmJeJfTe3r3286",
                        "label": "Unsubscribed",
                        "type": "boolean"
                    },
                    {
                        "name": "fldtI1PWaf6vXn9dG",
                        "label": "Phone 1",
                        "type": "text"
                    },
                    {
                        "name": "fldrJcV74pgXDCSMo",
                        "label": "Phone 2",
                        "type": "text"
                    },
                    {
                        "name": "fldZxRr6d37rMpwxZ",
                        "label": "Email 1 Subject",
                        "type": "text"
                    },
                    {
                        "name": "fldr79o5XY71mQ2nZ",
                        "label": "Email 1 Body",
                        "type": "text"
                    },
                    {
                        "name": "fldnzrf9FbGwDK5oD",
                        "label": "Email 2 Subject",
                        "type": "text"
                    },
                    {
                        "name": "fldVdtQTxfXY7o2iJ",
                        "label": "Email 2 Body",
                        "type": "text"
                    },
                    {
                        "name": "fld1FX3DLexE2rEXf",
                        "label": "Email 3 Subject",
                        "type": "text"
                    },
                    {
                        "name": "fldo1BBSur3Qdez4M",
                        "label": "Email 3 Body",
                        "type": "text"
                    },
                    {
                        "name": "fldBa05lrdeQgSjoR",
                        "label": "LinkedIn DM Content",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "fldtVTTnoXi2YCKee",
                        "label": "Apollo Contact ID",
                        "type": "text"
                    },
                    {
                        "name": "fldrN1QnZsKprDseD",
                        "label": "Apollo Account ID",
                        "type": "text"
                    },
                    {
                        "name": "fldndfasVwi99xdzr",
                        "label": "Headline",
                        "type": "text"
                    },
                    {
                        "name": "fldpwo7pgXH8havki",
                        "label": "Professional Summary",
                        "type": "text"
                    },
                    {
                        "name": "fld6kfEBbkUO4vv5v",
                        "label": "Key Skills",
                        "type": "text"
                    },
                    {
                        "name": "fldL3acjKVDYua4tM",
                        "label": "Role Focus",
                        "type": "text"
                    },
                    {
                        "name": "fldXiaNwOQHaVfBny",
                        "label": "Created At",
                        "type": "date"
                    },
                    {
                        "name": "fldaXmDb0zxtagEDI",
                        "label": "Last Modified Time",
                        "type": "date"
                    },
                    {
                        "name": "fld6gd32xCjDtT2ky",
                        "label": "Link to Engagement Logs",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fldRmEKxCwkmqb4Rv",
                        "label": "Link to Research Logs",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fldbGFcnGLO1Zpr7Z",
                        "label": "Latest Signal Date",
                        "type": "array"
                    },
                    {
                        "name": "fldbFSKZtzIPuHsfe",
                        "label": "Link to Signals",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fldpMeN46BGjyr1ZA",
                        "label": "Email 1 Sent At",
                        "type": "date",
                        "time": true
                    },
                    {
                        "name": "fldGbnUi4jvuO4SxJ",
                        "label": "Email 1 Opened At",
                        "type": "date",
                        "time": true
                    },
                    {
                        "name": "fldCbbQ95y57V8Kql",
                        "label": "Email 1 Open Count",
                        "type": "number"
                    },
                    {
                        "name": "fldopfZ6iBZRsjU7v",
                        "label": "Send Email 2 Now",
                        "type": "text"
                    },
                    {
                        "name": "fldD8mplzL7zviDW1",
                        "label": "Email 2 Sent At",
                        "type": "date",
                        "time": true
                    },
                    {
                        "name": "fldLSeSCLrkG9t8TR",
                        "label": "Email 2 Opened At",
                        "type": "date",
                        "time": true
                    },
                    {
                        "name": "fldRPDapwY08fmpXg",
                        "label": "Email 2 Open Count",
                        "type": "number"
                    },
                    {
                        "name": "fldJOvngDLBTgczdy",
                        "label": "LinkedIn Connect",
                        "type": "text"
                    },
                    {
                        "name": "fldiMx9IPhTwJf8Ng",
                        "label": "LinkedIn Connect Sent At",
                        "type": "date",
                        "time": true
                    },
                    {
                        "name": "fld9ARhVDOZ6ALoSw",
                        "label": "Send Email 3 Now",
                        "type": "text"
                    },
                    {
                        "name": "fldEJjc90halj4iFB",
                        "label": "Email 3 Sent At",
                        "type": "date",
                        "time": true
                    },
                    {
                        "name": "flddNV9ObWOYkHYpx",
                        "label": "Email 3 Opened At",
                        "type": "date",
                        "time": true
                    },
                    {
                        "name": "fldk5feuJ9whP2opT",
                        "label": "Email 3 Open Count",
                        "type": "number"
                    },
                    {
                        "name": "fldi0EYCin5ws00kB",
                        "label": "Reply Logged",
                        "type": "date",
                        "time": true
                    },
                    {
                        "name": "fldTyerD8rUkIYBda",
                        "label": "Meeting Booked",
                        "type": "date",
                        "time": true
                    },
                    {
                        "name": "fldqvtNHBbNeE7zZh",
                        "label": "Initiate Outbound Voice Now",
                        "type": "text"
                    },
                    {
                        "name": "fldRksyo2ZmvVyuaL",
                        "label": "Outbound Voice Sent",
                        "type": "date",
                        "time": true
                    },
                    {
                        "name": "fldREatYuZoZJYT5t",
                        "label": "Transcript",
                        "type": "text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 5,
            "module": "google-drive:createAFolder",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 2625238
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 776,
                    "y": -3,
                    "name": "Create Drive Folder for Onboarding"
                }
            }
        },
        {
            "id": 7,
            "module": "asana:CreateTask",
            "version": 2,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1144,
                    "y": -5,
                    "name": "Assign Tasks"
                }
            }
        },
        {
            "id": 4,
            "module": "google-meet:createAMeet",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2625482
            },
            "mapper": {
                "calendar": "nate.shelly@vitoautomation.com",
                "summary": "test",
                "allDayEvent": false,
                "start": "{{7.created_at}}",
                "end": "{{7.completed_at}}",
                "sendUpdates": "all",
                "transparency": "opaque",
                "visibility": "public",
                "guestsCanModify": false
            },
            "metadata": {
                "designer": {
                    "x": 1502,
                    "y": -1,
                    "name": "Generate Google Meet Link"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google Vito Automation connection (nate.shelly@vitoautomation.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "calendar": {
                            "mode": "chose",
                            "label": "Vito Automation (Primary Calendar)"
                        },
                        "colorId": {
                            "mode": "chose"
                        },
                        "allDayEvent": {
                            "mode": "chose"
                        },
                        "sendUpdates": {
                            "mode": "chose",
                            "label": "To All Guests"
                        },
                        "overrides": {
                            "mode": "edit"
                        },
                        "attendees": {
                            "mode": "edit"
                        },
                        "transparency": {
                            "mode": "chose",
                            "label": "Busy"
                        },
                        "visibility": {
                            "mode": "chose",
                            "label": "Public"
                        },
                        "recurrence": {
                            "mode": "edit"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "calendar",
                        "type": "select",
                        "label": "Calendar ID",
                        "required": true
                    },
                    {
                        "name": "colorId",
                        "type": "select",
                        "label": "Color"
                    },
                    {
                        "name": "summary",
                        "type": "text",
                        "label": "Event Name",
                        "required": true
                    },
                    {
                        "name": "allDayEvent",
                        "type": "boolean",
                        "label": "All Day Event",
                        "required": true
                    },
                    {
                        "name": "start",
                        "type": "date",
                        "label": "Start Date",
                        "required": true,
                        "time": true
                    },
                    {
                        "name": "end",
                        "type": "date",
                        "label": "End Date",
                        "required": true,
                        "time": true
                    },
                    {
                        "name": "sendUpdates",
                        "type": "select",
                        "label": "Send notifications about the event creation",
                        "validate": {
                            "enum": [
                                "all",
                                "externalOnly",
                                "none"
                            ]
                        }
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "location",
                        "type": "text",
                        "label": "Location"
                    },
                    {
                        "name": "useDefault",
                        "type": "boolean",
                        "label": "Use the default reminder settings for this event"
                    },
                    {
                        "name": "overrides",
                        "type": "array",
                        "label": "Reminders",
                        "validate": {
                            "maxItems": 5
                        },
                        "spec": [
                            {
                                "name": "method",
                                "type": "select",
                                "label": "Method",
                                "options": [
                                    {
                                        "label": "Email",
                                        "value": "email"
                                    },
                                    {
                                        "label": "Pop-up",
                                        "value": "popup"
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "minutes",
                                "type": "uinteger",
                                "label": "Minutes",
                                "required": true,
                                "validate": {
                                    "max": 40320
                                }
                            }
                        ]
                    },
                    {
                        "name": "attendees",
                        "type": "array",
                        "label": "Attendees",
                        "spec": [
                            {
                                "name": "displayName",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email",
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "transparency",
                        "type": "select",
                        "label": "Show me as",
                        "required": true,
                        "validate": {
                            "enum": [
                                "opaque",
                                "transparent"
                            ]
                        }
                    },
                    {
                        "name": "visibility",
                        "type": "select",
                        "label": "Visibility",
                        "required": true,
                        "validate": {
                            "enum": [
                                "default",
                                "public",
                                "private"
                            ]
                        }
                    },
                    {
                        "name": "guestsCanModify",
                        "type": "boolean",
                        "label": "Guests can modify the event",
                        "required": true
                    },
                    {
                        "name": "recurrence",
                        "type": "array",
                        "label": "Recurrence",
                        "spec": {
                            "type": "text",
                            "label": "Value",
                            "name": "value"
                        }
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 10,
            "module": "google-calendar:createAnEvent",
            "version": 5,
            "metadata": {
                "designer": {
                    "x": 1881,
                    "y": -6,
                    "name": "Create Event and Add Employee as Attendee"
                }
            }
        },
        {
            "id": 8,
            "module": "slack:CreateMessage",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 4226993
            },
            "mapper": {
                "channelWType": "list",
                "channelType": "public",
                "channel": "C07L80JMBEJ"
            },
            "metadata": {
                "designer": {
                    "x": 2308,
                    "y": -14,
                    "name": "Notify Team via Slack (New Hire + Tasks)"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Slack (bot) connection (vitoautomation.slack.com - make)",
                            "data": {
                                "scoped": "true",
                                "connection": "slack3"
                            }
                        }
                    },
                    "expect": {
                        "channelWType": {
                            "label": "Select from the list"
                        },
                        "reply_broadcast": {
                            "mode": "chose"
                        },
                        "link_names": {
                            "mode": "chose"
                        },
                        "parse": {
                            "mode": "chose"
                        },
                        "mrkdwn": {
                            "mode": "chose",
                            "empty": true
                        },
                        "unfurl_links": {
                            "mode": "chose"
                        },
                        "unfurl_media": {
                            "mode": "chose"
                        },
                        "channelType": {
                            "label": "Public channel"
                        },
                        "channel": {
                            "mode": "chose",
                            "label": "teacher-onboarding-assistant"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:slack2,slack3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "channelWType",
                        "type": "select",
                        "label": "Enter a channel ID or name",
                        "required": true,
                        "validate": {
                            "enum": [
                                "manualy",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    },
                    {
                        "name": "blocks",
                        "type": "text",
                        "label": "Blocks"
                    },
                    {
                        "name": "thread_ts",
                        "type": "text",
                        "label": "Thread message ID (time stamp)"
                    },
                    {
                        "name": "reply_broadcast",
                        "type": "boolean",
                        "label": "Reply broadcast"
                    },
                    {
                        "name": "link_names",
                        "type": "boolean",
                        "label": "Link names"
                    },
                    {
                        "name": "parse",
                        "type": "boolean",
                        "label": "Parse message text"
                    },
                    {
                        "name": "mrkdwn",
                        "type": "boolean",
                        "label": "Use markdown"
                    },
                    {
                        "name": "unfurl_links",
                        "type": "boolean",
                        "label": "Unfurl primarily text-based content"
                    },
                    {
                        "name": "unfurl_media",
                        "type": "boolean",
                        "label": "Unfurl media content"
                    },
                    {
                        "name": "icon_emoji",
                        "type": "text",
                        "label": "Icon emoji"
                    },
                    {
                        "name": "icon_url",
                        "type": "url",
                        "label": "Icon url"
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "channelType",
                        "type": "select",
                        "label": "Channel type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "public",
                                "private",
                                "im",
                                "mpim"
                            ]
                        }
                    },
                    {
                        "name": "channel",
                        "type": "select",
                        "label": "Public channel",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com",
        "notes": [
            {
                "moduleIds": [
                    2
                ],
                "content": "<p>Watches for a new onboarding form submission via Typeform. </p><p></p><p><strong>Replace this module as needed to match your stack.</strong></p><p></p><p>Need help? Ping <a href=\"https://Need help? Ping Nate Shelly on LinkedIn\" target=\"_blank\">Nate Shelly</a></p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    11
                ],
                "content": "<p>Webhook trigger initiates the workflow.</p><p></p><p><strong>Replace this module as needed to match your stack.</strong></p><p></p><p>Need help? Ping <a href=\"https://Need help? Ping Nate Shelly on LinkedIn\" target=\"_blank\">Nate Shelly</a></p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    3
                ],
                "content": "<p>Logs the submitted form data into an Airtable base to track the new hires progress and centralize documentation.</p><p></p><p><strong>Replace this module as needed to match your stack.</strong></p><p></p><p>Need help? Ping <a href=\"https://Need help? Ping Nate Shelly on LinkedIn\" target=\"_blank\">Nate Shelly</a></p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    5
                ],
                "content": "<p>Creates onboarding tasks or a project in Asana based on the employees role, department, or team requirements.</p><p></p><p><strong>Replace this module as needed to match your stack.</strong></p><p></p><p>Need help? Ping <a href=\"https://Need help? Ping Nate Shelly on LinkedIn\" target=\"_blank\">Nate Shelly</a></p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    7
                ],
                "content": "<p>Creates onboarding tasks or a project in Asana based on the employees role, department, or team requirements.</p><p></p><p><strong>Replace this module as needed to match your stack.</strong></p><p></p><p>Need help? Ping <a href=\"https://Need help? Ping Nate Shelly on LinkedIn\" target=\"_blank\">Nate Shelly</a></p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    4
                ],
                "content": "<p>Generates a Google Meet meeting link to be included in the calendar invite and shared with the employee and team.</p><p></p><p><strong>Replace this module as needed to match your stack.</strong></p><p></p><p>Need help? Ping <a href=\"https://Need help? Ping Nate Shelly on LinkedIn\" target=\"_blank\">Nate Shelly</a></p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    10
                ],
                "content": "<p>Creates a Google Calendar event for the onboarding meeting with relevant participants and includes the Meet link.</p><p></p><p><strong>Replace this module as needed to match your stack.</strong></p><p></p><p>Need help? Ping <a href=\"https://Need help? Ping Nate Shelly on LinkedIn\" target=\"_blank\">Nate Shelly</a></p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    8
                ],
                "content": "<p>Sends a Slack message to the team with the new hire details and task assignments, keeping everyone in sync.</p><p></p><p> <strong>Next Step:</strong> This onboarding flow continues in <strong>Part 2</strong>, where the post-meeting recording is transcribed and summarized using GPT. The summary is stored to keep your agent or knowledge base continuously up to date.</p><p></p><p><strong>Replace this module as needed to match your stack.</strong></p><p></p><p>Need help? Ping <a href=\"https://Need help? Ping Nate Shelly on LinkedIn\" target=\"_blank\">Nate Shelly</a></p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            }
        ]
    }
}
